:root {
  --hue: 190deg;
  --sat: 50%;
  --blur: 0em;

  --hue2: calc(var(--hue) + 60deg);
  --sat2: calc(var(--sat) + 10%);
  --clr: hsl(var(--hue) var(--sat) 90%);
  --clr2: hsl(var(--hue2) var(--sat2) 85%);
  --text: hsla(var(--hue), 70%, 10%, 0.9);
  --gradoffset: 45%;
  --gradgap: 30%;
}

div {
  --hue2: calc(var(--hue) + 60deg);
  --sat2: calc(var(--sat) + 10%);
  --clr: hsl(var(--hue) var(--sat) 90%);
  --clr2: hsl(var(--hue2) var(--sat2) 85%);
  --text: hsla(var(--hue), 70%, 10%, 0.9);
  --gradoffset: 45%;
  --gradgap: 30%;
}

.custom {
  --hue: 30deg;
  --sat: 50%;
  --hue2: 5deg;
  --sat2: 80%;
}

button {
  color: var(--text);
  font-weight: 500;
  letter-spacing: -0.025em;
  background-color: var(--clr);
  background-image: linear-gradient(
    180deg,
    var(--clr2) var(--gradgap),
    transparent calc(100% - var(--gradgap))
  );
  background-repeat: no-repeat;
  background-position: center var(--gradoffset);
  background-size: 100% 200%;
  padding: 1.1em 0.8em;
  border-radius: 2em;
  border: none;
  overflow: hidden;
  justify-content: center;
  margin: auto;

  min-width: 100%;

  // box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent,
  //   0 0.25em 0.3em -0.2em hsla(var(--hue), var(--sat), 50%, 0.46),
  //   0 0.25em 0.75em hsla(var(--hue), calc(var(--sat) - 10%), 40%, 0.3);

  position: relative;
  transition: all 0.2s
    linear(
      0,
      0.176 4.5%,
      0.331 9%,
      0.47 13.6%,
      0.595 18.4%,
      0.704 23.3%,
      0.752 25.8%,
      0.795 28.3%,
      0.836 30.9%,
      0.872 33.5%,
      0.905 36.1%,
      0.934 38.8%,
      0.957 41.3%,
      0.977 43.8%,
      0.995 46.4%,
      1.009 49%,
      1.021 51.7%,
      1.031 54.5%,
      1.038 57.3%,
      1.042 60.3%,
      1.045 65.2%,
      1.041 70.6%,
      1.034 76.1%,
      1.007 91.2%,
      1.002 95.8%,
      1
    );
  outline: none;

  &::before,
  &::after {
    content: '';
    inset: 0;
    position: absolute;
    border-radius: 5em;
  }

  // darkening
  &::before {
    background-image: radial-gradient(
        ellipse,
        hsla(var(--hue), 100%, 90%, 0.8) 20%,
        transparent 50%,
        transparent 200%
      ),
      linear-gradient(
        90deg,
        hsl(0deg, 0%, 25%) -10%,
        transparent 30%,
        transparent 70%,
        hsl(0deg, 0%, 25%) 110%
      );
    // box-shadow: inset 0 0.25em 0.75em hsla(0deg, 0%, 0%, 0.8),
    //   inset 0 -0.05em 0.2em rgba(255, 255, 255, 0.4),
    //   inset 0 -1px 3px hsla(var(--hue), 80%, 50%, 0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 200% 80%, cover;
    background-position: center 220%;
    mix-blend-mode: overlay;
    filter: blur(calc(var(--blur) / 32));
  }

  // reflection
  &::after {
    background: linear-gradient(
      180deg,
      hsla(var(--hue2), 100%, 90%, 0.9),
      hsla(var(--hue2), calc(var(--sat2) * 0.7), 50%, 0.75) 40%,
      transparent 80%
    );
    top: 0.075em;
    left: 0.75em;
    right: 0.75em;
    bottom: 1.4em;
    filter: blur(calc(var(--blur) / 16));
    mix-blend-mode: screen;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    // box-shadow: 0 -0.2em 0.5em hsla(var(--hue2), 70%, 80%, 0.3),
    //   0 0.25em 0.5em hsla(var(--hue), 70%, 80%, 0.25),
    //   0 0.25em 0.3em -0.2em hsl(var(--hue), 90%, 70%),
    //   0 0.25em 0.5em hsla(var(--hue), 20%, 30%, 0.2),
    //   inset 0 -2px 2px rgba(255, 255, 255, 0.2);
    background-position: center calc(var(--gradoffset) - 0.75em);
  }

  &:active {
    scale: 0.95;
    transition: all 0.15s
      linear(
        0,
        0.028 5.2%,
        0.056 9.8%,
        0.085 13.8%,
        0.116 17.4%,
        0.149 20.7%,
        0.187 23.9%,
        0.229 26.9%,
        0.278 29.9%,
        0.328 32.6%,
        0.383 35.3%,
        0.445 38%,
        0.513 40.7%,
        0.636 45.2%,
        0.898 54.1%,
        0.999 57.7%,
        0.89 62.3%,
        0.85 64.3%,
        0.819 66.2%,
        0.795 68.1%,
        0.778 69.9%,
        0.768 71.7%,
        0.765 73.6%,
        0.767 75.1%,
        0.774 76.6%,
        0.785 78.2%,
        0.8 79.8%,
        0.837 82.8%,
        0.934 89.6%,
        0.956 91.4%,
        0.973 93.1%,
        0.986 94.8%,
        0.994 96.4%,
        0.999 98.1%,
        1
      );
  }
}

.spinner path {
  transform-origin: center;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
